/Ex01_DateType.class
/Ex02_Literal.class
/Ex03_DataType.class
/Ex04_DataType.class
/Ex05_Precision.class
/Ex06_DataType.class
/Ex06_String.class
/Ex07_Escape.class
/Ex08_DataType.class
/Quiz01_char.class
/Quiz02.class
